<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>列表页面</h1>
    <table class="table table-bordered">
        <thead>
        {% for foo in head_list %}
        <th>{{ foo }}</th>
        {% endfor %}

        </thead>
        <tbody>
        {% for obj in data_list %}
        <tr>
            {% for foo in obj %}
             <td>{{ foo }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>